<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Galería De imagenes</h1>
        <p>Aquí podrás encontrar imagenes para descargar y puedes seleccionar tambien por estas categorias: </p><br>
        <button onclick="cargarImagenesPorTipo('anime')">Animes</button>
        <button onclick="cargarImagenesPorTipo('peliculas')">Peliculas</button>
        <button onclick="cargarImagenesPorTipo('series')">Series</button>
    </header>
    
    
    <div class="row" id="galeria">
        <!-- Las columnas con imágenes se generarán aquí automáticamente -->
    </div>
    <footer>
        <p>© 2024 [Saracho Bruno]. Todos los derechos reservados.</p>
        <div class="socials">
            <a href="#">Linkedin</a>
            <a href="https://github.com/trompeta17">GitHub</a>
        </div>
    </footer>
    <script src="scrpit/codigo.js"></script>
</body>
</html>
